body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

h2 {
    text-align: center;
}

#instructions {
    width: 300px;
    margin: auto;
}

#message {
    text-align: center;
    font-size: large;
    height: 25px;
}

#board {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    display: flex;
}

#score-box {
    border: 2px solid black;
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
    text-align: center;
    font-size: xx-large;
    position: relative;
    top: 100px;
    right: 100px;
}

#score {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#triangle-up {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid green;
}

#triangle-right {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 100px solid red;
	border-bottom: 50px solid transparent;
    position: relative;
    right: 200px;
    top: 100px;
}

#triangle-down {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid blue;
    position: relative;
    right: 200px;
    top: 200px;
}

#triangle-left {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-right: 100px solid yellow;
	border-bottom: 50px solid transparent;
    margin-top: 100px;
}

#start-btn {
    margin:0 auto;
    display:block;
}

.flash-up{
  -moz-animation: flash-up 1s ease-out;
  -moz-animation-iteration-count: 1;
  -webkit-animation: flash-up 1s ease-out;
  -webkit-animation-iteration-count: 1;
  -ms-animation: flash-up 1s ease-out;
  -ms-animation-iteration-count: 1;
}

@-webkit-keyframes flash-up {
    0% { background-color:none;}
    50% { border-bottom: 100px solid black;}        
    100% {background-color:none;}
}

@-moz-keyframes flash-up {
    0% { background-color:none;}
    50% { border-bottom: 100px solid black;}        
    100% {background-color:none;}
}

@-ms-keyframes flash-up {
    0% { background-color:none;}
    50% { border-bottom: 100px solid black;}        
    100% {background-color:none;}
}

.flash-down{
  -moz-animation: flash-down 1s ease-out;
  -moz-animation-iteration-count: 1;
  -webkit-animation: flash-down 1s ease-out;
  -webkit-animation-iteration-count: 1;
  -ms-animation: flash-down 1s ease-out;
  -ms-animation-iteration-count: 1;
}

@-webkit-keyframes flash-down {
    0% { background-color:none;}
    50% { border-top: 100px solid black;}        
    100% {background-color:none;}
}

@-moz-keyframes flash-down {
    0% { background-color:none;}
    50% { border-top: 100px solid black;}        
    100% {background-color:none;}
}

@-ms-keyframes flash-down {
    0% { background-color:none;}
    50% { border-top: 100px solid black;}        
    100% {background-color:none;}
}

.flash-left{
  -moz-animation: flash-left 1s ease-out;
  -moz-animation-iteration-count: 1;
  -webkit-animation: flash-left 1s ease-out;
  -webkit-animation-iteration-count: 1;
  -ms-animation: flash-left 1s ease-out;
  -ms-animation-iteration-count: 1;
}

@-webkit-keyframes flash-left {
    0% { background-color:none;}
    50% { border-right: 100px solid black;}        
    100% {background-color:none;}
}

@-moz-keyframes flash-left {
    0% { background-color:none;}
    50% { border-right: 100px solid black;}        
    100% {background-color:none;}
}

@-ms-keyframes flash-left {
    0% { background-color:none;}
    50% { border-right: 100px solid black;}        
    100% {background-color:none;}
}

.flash-right{
  -moz-animation: flash-right 1s ease-out;
  -moz-animation-iteration-count: 1;
  -webkit-animation: flash-right 1s ease-out;
  -webkit-animation-iteration-count: 1;
  -ms-animation: flash-right 1s ease-out;
  -ms-animation-iteration-count: 1;
}

@-webkit-keyframes flash-right {
    0% { background-color:none;}
    50% { border-left: 100px solid black;}        
    100% {background-color:none;}
}

@-moz-keyframes flash-right {
    0% { background-color:none;}
    50% { border-left: 100px solid black;}        
    100% {background-color:none;}
}

@-ms-keyframes flash-right {
    0% { background-color:none;}
    50% { border-left: 100px solid black;}        
    100% {background-color:none;}
}