@{
    ViewData["Title"] = "Simon Says";
}

<h2>Simon Says!</h2>
<br />
<div id="board">
    <div id="triangle-left"></div>
    <div id="triangle-up"></div>
    <div id="triangle-down"></div>
    <div id="triangle-right"></div>
</div>
<br />
<button type="button" id="start-btn" class="btn btn-primary">Start Game</button>

