<audio preload="none" class="sound0">
    <source src="/sounds/mp3/sound_0.mp3" type="audio/mpeg" />
    <source src="/sounds/ogg/sound_0.ogg" type="audio/ogg" />
</audio>
<audio preload="none" class="sound1">
    <source src="/sounds/mp3/sound_1.mp3" type="audio/mpeg" />
    <source src="/sounds/ogg/sound_1.ogg" type="audio/ogg" />
</audio>
<audio preload="none" class="sound2">
    <source src="/sounds/mp3/sound_2.mp3" type="audio/mpeg" />
    <source src="/sounds/ogg/sound_2.ogg" type="audio/ogg" />
</audio>
<audio preload="none" class="sound3">
    <source src="/sounds/mp3/sound_3.mp3" type="audio/mpeg" />
    <source src="/sounds/ogg/sound_3.ogg" type="audio/ogg" />
</audio>
<h2>Simon Says!</h2>
<div id="message">&nbsp;</div>
<br />
<div id="board">
    <div id="triangle-left"></div>
    <div id="triangle-up"></div>
    <div id="score-box"><p id="score">0</p></div>
    <div id="triangle-down"></div>
    <div id="triangle-right"></div>
</div>
<br />
@if (ViewData["Title"].ToString().CompareTo("Simon Says!")==0)
{
    <form asp-controller="Home" asp-action="Start" method="post">
        <button type="submit" id="start-btn" class="btn btn-primary">Start Game</button>
    </form>
}
else
{
    <button type="submit" id="start-btn" class="btn btn-disabled">Start Game</button>
    <script type="text/javascript">showMoves(@ViewBag.Moves);</script>
}
