<h2>Simon Says!</h2>
<div id="message">&nbsp;</div>
<br />
<div id="board">
    <div id="triangle-left"></div>
    <div id="triangle-up"></div>
    <div id="triangle-down"></div>
    <div id="triangle-right"></div>
</div>
<br />
@if (ViewData["Title"].ToString().CompareTo("Simon Says!")==0)
{
    <form asp-controller="Home" asp-action="Start" method="post">
        <button type="submit" id="start-btn" class="btn btn-primary">Start Game</button>
    </form>
}
else
{
    <button type="submit" id="start-btn" class="btn btn-disabled">Start Game</button>
    <script type="text/javascript">showMoves(@ViewBag.Moves);</script>
}
