@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="instructions">
    <h2>Instructions:</h2>
    <br />
    <p>The objective of the game is to memorize and then repeat the pattern presented to you by Simon.</p>
    <br />
    <p>When it is your turn to repeat the pattern you can either click or tap on the corresponding pads or use the arrow keys to make your move.</p>
    <br />
    <p>Each time you successfully repeat a pattern that was presented to you by Simon, the length of the pattern will be increased by an additional move.</p>
    <br />
    <p>If you can successfully repeat the pattern when it's length is 20 you win!</p>
    <br />
    <h2>Good Luck!</h2>
</div>
